!!! 5
html
  head
    title DropShare
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    //if IE
      script
        alert(
            'Your version of Internet Explorer is out-of-date and or buggy.'
          + ' Please use Chrome or Firefox to run this application.'
        );
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    link(rel='stylesheet',href='style.css')
    link(href='http://fonts.googleapis.com/css?family=Rammetto+One',rel='stylesheet',type='text/css')
    script(src='pakmanaged.js')
  body
    img#css-beta-banner(src='images/beta.png')
    #css-content

      ul#css-main-tabs.css-tabs
        li.js-tab.js-index.js-drop
          a(href='#/drop')
            span.button.black Dropshare
        li.js-tab.js-howitworks
          a(href='#/howitworks')
            span.button.green How it Works
        li.js-tab.js-pricing
          a(href='#/pricing')
            span.button.green Pricing
        //-
          li
            a(href='#/about')
              span.button.green About
        li.js-tab.js-api
          a(href='#/api')
            span.button.green API

      #css-app
        //- this needs to be first for google indexing
        include includes/howitworks.jade
        include includes/drop.jade
        include includes/share.jade
        include includes/about.jade
        include includes/api.jade
        include includes/pricing.jade
        include includes/legalese.jade
        include includes/contact.jade
        br

      ul#css-foot-tabs.css-tabs
        li.js-tab.js-contact
          a.button.small.white(href='#/contact') Contact
        li
          a.button.small.gray(href='http://github.com/SpotterRF/dropshare',target='_blank') fork on Github
        li.js-tab.js-legalese
          a.button.small.white(href='#/legalese') Legalese

      footer
        | Copyright 2011-2012 Dropshare (TM)
