//-
  #css-about.js-uiview.css-uiview.js-about
    header.css-section About
    | Basically ge.tt and min.us were taking too long
    | coming up with an API, so we built it ourselves.
    br
    | As an extra perk, Dropshare can be installed on
    | private servers.

