.photo
.info
  .author
    .name
      | Jum Chee
    .gravitar
  .title
    |Hex plant pot
  hr
  .description
    | Sample description. This is the best designed thing you have ever seen.
  .tag-box
    .tag box sghiaigjagjo haogjojag
    .tag gray aihgia
    .tag box ihaiogijaijg
    .tag oiahgihiahgi
    .tag box
    .tag gray haihgoijaoijgijagijiajgj
    .tag box aigiojaijgij
    .tag gray ahgiuhahgihaihg 
  .download-button
    .download-icon
    .download-text Download