#js-drop.js-uiview.css-uiview.css-drop.js-index.js-drop
  .css-drop-container
    //-include updrop
    header Drop
    .js-dropzone.css-dropzone.css-tall.css-file-zone.css-area.css-interactive
      //- http://www.softicons.com/free-icons/web-icons/design-cartons-icons-by-sneh-roy/box-drag-and-drop-icon
      img.css-drop-action-image(src='images/drag-n-drop-box.png',alt='Drag & Drop Files from your Desktop')
      //- TODO find out why this is laggy when placed outside of #dropzone
      form.js-upload.css-upload
        //- webkitdirectory allows ONLY directories
        //- input#filechooser.filechooser(name='file',type='file',multiple='multiple')
    .js-uploadzone.css-uploadzone.css-short.js-file-zone.css-area.css-interactive
      button.css-upload.button.gray Open File Browser
      form.css-upload
        //- input.filechooser(name='file',type='file',multiple='multiple')
  .css-share-container
    //-include upshare
    header Share
    .css-short.css-area.css-interactive
      //- http://www.iconseeker.com/search/SHARE/2
      //-img(src='images/share-with-friends.png',style='width: 48px; display: inline;')
      span.css-draw-attention Copy and Share these:
    .css-tall.css-area.css-interactive
      .js-no-links
        | As you select files to share, the links will appear here.
      //- TODO http://www.nikesh.me/demo/loading.html
      //- http://jimpunk.net/Loading/?page_id=9
      //-img#loading-large(src='images/loading-large.gif')
      //- http://new.rogers.com/web/resources/images/wireless/loading.gif
      //- http://images.wordpressapi.com/loading.gif
      ul.js-uploadlist.css-uploadlist.css-tabs
        li.js-tab.css-tab.css-file-info.js-file-info
          span.css-id.js-id TPL-TOKEN
          span.css-name.js-name TPL-NAME
          a.js-ds-link(href='#/share/TPL-TOKEN') domain.tld/#/share/TPL-TOKEN
          button.css-remove-file.js-remove-file X
          progress.js-progress
            span.js-val 0
            span.css-div /
            span.js-max 0
          br
          span.js-byte-count
  .css-clear
  #delete-notice.js-delete-notice Files are deleted after 3 days.
