.footer-wrapper
  .footer-content
    .bottom-links
      h4 SITE MAP
        a.site-link.space(href='http://google.com')|Kits
        a.site-link(href='http://google.com')|Products
        a.site-link(href='http://google.com')|Support
        a.site-link(href='http://google.com')|Contact Us 
        a.site-link(href='http://google.com')|Press
        a.site-link(href='http://google.com')|Careers
    .newsletter
      h4 Updates
      p.space
        |Enter your email to stay updated on the latest SpotterRF news.
      .form-field.bottom
        .small-arrow
         |>
.wrap-final-say
  .final-say
    |2012 SpotterRF         