#css-gallery.js-uiview.css-uiview.js-gallery
  header.css-section Main GALLERY
  .css-items-container.js-items-container
    .js-items

      a(href='#',target='_blank').js-item
        .css-item
          .css-thumbnail.js-thumbnail
            img(src='http://imgs.xkcd.com/comics/file_transfer.png'
              , alt='preview of 3d file'
              , title="3D-file. Check it out!")
          .css-info.js-info
            .css-title.js-title.
              My amazing file
            .css-author.js-author.
              Author: Brian Turley
            .css-description.js-description.
              This is my file available for download.
              Please tell me what you think.
              ahjgiaghaughiouahgihiahgihai iah ;oihasohiouahdoiha ghaoighuahg.     
        
  hr
  | Many thanks to: AJ ONeal
