#css-gallery.js-uiview.css-uiview.js-gallery
  header.css-section Main GALLERY
  a(href='http://localhost:3700#2bqoKgA',target='blank')
   .css-thumbnail-container
     .css-thumbnail
       img(src='http://imgs.xkcd.com/comics/file_transfer.png'
         , alt='preview of 3d file'
         , title="3D-file. Check it out!")
     .css-thumbnail-description-info
       .css-thumbnail-title My amazing file
       .css-author.
         Author: Brian Turley
       .css-thumbnail-description.
         This is my file available for download. Please tell me what you think.       
  
  a(href='http://localhost:3700#dVirqv8',target='blank')
   .css-thumbnail-container
     .css-thumbnail
       img(src='http://imgs.xkcd.com/comics/file_transfer.png'
         , alt='preview of 3d file'
         , title="3D-file. Check it out!")
     .css-thumbnail-description-info
       .css-thumbnail-title My amazing file
       .css-author.
         Author: Brian Turley
       .css-thumbnail-description.
         This is my file available for download. Please tell me what you think.ahjgiaghaughiouahgihiahgihai iah ;oihasohiouahdoiha ghaoighuahg.     
       
       
       
  hr
  | Many thanks to: AJ ONeal
