#css-howitworks.js-uiview.css-uiview.js-howitworks
  header.css-section How It Works
  a(href='http://xkcd.com/949/',target='_blank')
    img(src='http://imgs.xkcd.com/comics/file_transfer.png'
      , alt='File Transfer'
      , title="Every time you email a file to yourself so you can pull it up on your friend's laptop, Tim Berners-Lee sheds a single tear.")
  | Node.JS on the backend. Awesomeness on the frontend
  br
  | Many thanks to:
  ul
    li
      a(href='http://subtlepatterns.com/?paged=3')
        | Subtle Patterns
    li
      a(herf='http://webdesignerwall.com/tutorials/css3-gradient-buttons')
        | WebDesignerWall: CSS Buttons
  | 'Nuff said.

