.header-wrapper
  .header-content
    .header-top
      .phone
        |@brian_turley
      div(style='clear: both;')    
    .header-bottom
      #logo
      .nav
         .row
         ul#css-main-tabs.css-tabs
           li.js-tab.js-gallery
             a(href='#/gallery')
               span.tab Gallery
           li.js-tab.js-download
             a(href='#/download')
               span.tab download    
           li.js-tab.js-index.js-drop
             a(href='#/drop')
               span.tab Dropshare
           li.js-tab.js-howitworks
             a(href='#/howitworks')
               span.tab How it Works
           li.js-tab.js-pricing
             a(href='#/pricing')
               span.tab Pricing
           li
             a(href='#/about')
                 span.tab About
           li.js-tab.js-api
             a(href='#/api')
               span.tab API

         div(style='clear: both;')