.css-header-wrapper
  .css-header-content
    .css-header-top
      .css-contact
        @brian_turley
      div(style='clear: both;')    
    .header-bottom
      #logo
      .css-nav
         ul.css-row
              li.js-tab.js-gallery.css-tab
                a(href='#/gallery')
                  span.tab Gallery
              li.js-tab.js-upload.css-tab
                a(href='#/upload')
                  span.tab Upload    
              li.js-tab.js-download.css-tab
                a(href='#/download')
                  span.tab Download
                  
                  
                  
                  
            //  
              a.tab(href='http://google.com')|Kits
              a.tab(href='http://google.com')|Products
              a.tab(href='http://google.com')|Support
              a.tab(href='http://google.com')|Contact Us 
              a.tab(href='http://google.com')|Press
         div(style='clear: both;')
//
         ul.css-tabs

           li.js-tab.js-index.js-drop
             a(href='#/drop')
               span.tab Dropshare
           li.js-tab.js-howitworks
             a(href='#/howitworks')
               span.tab How it Works
           li.js-tab.js-pricing
             a(href='#/pricing')
               span.tab Pricing
           li
             a(href='#/about')
                 span.tab About
           li.js-tab.js-api
             a(href='#/api')
               span.tab API

         div(style='clear: both;')