#css-pricing.js-uiview.css-uiview.js-pricing
  header.section Pricing
  | Contact for a consultation on these options
  ul
    li Full remote installation support
    li Dedicated cloud appliance
    li Physical appliance
    li DIY installation (see Github)
