#js-share.js-uiview.css-uiview.js-share.css-share
  header.css-section Your file, Sir!
  | (or Ma'am)
  br
  #itemview
  br
  //- must use full url
  a.js-dnd(href='#didnt-work',draggable='true',data-downloadurl='application/octet-stream:index.jade:http://localhost:3700/index.jade')
    img(src='images/harddrive-download.png')
  br
  | Drag to your Desktop to Download
  br
  | (or click the old-fashioned way)
