Form
  input.photo
  .info
    .author
      input.name
        | Jum Chee
      input.gravitar

    input.title
      |Hex plant pot
    hr
    input.description
      | Sample description. This is the best designed thing you have ever seen.
    .tag-box
      .tag
    input.upload-button
      .download-icon
      .download-text Download